{{>header post="post"}}
{{>hero-category-post design-post-category = design-post-category}}

<section class="breadcrumb-section set-bg" data-setbg="/img/breadcrumb.png">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <div class="breadcrumb__text">
                    <h2>Changcannang</h2>
                    <div class="breadcrumb__option">
                        <a href="/">Trang Chủ</a>
                        <span>Bài Viết</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="post__menu">
    <div>
        <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-7">
                <div class="product__discount">
                    <div class="section-title product__discount__title">
                        <h4 style="text-align:center; padding-top: 30px">Bài viết</h4>
                    </div>
                    <div class="filter__item">
                        <div class="row">
                            <div class="col-lg-4 col-md-5">
                                <div class="filter__sort">
                                    <span>Bộ lọc</span>
                                    <select id="sort-price">
                                        <option value="0">Tất cả bài viết</option>
                                        <option value="-1">Mới nhất</option>
                                        <option value="1">Nổi bậc nhất</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4">
                                <div class="filter__found">
                                    <h6><span>{{sizeOfpost}}</span> bài viết được tìm thấy</h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row list-product">

                        {{#each post}}
                        <div class="col-lg-4 col-md-6 col-sm-6 item-post">
                            <div class="post__item">
                                <div class="post__item__pic set-bg" data-setbg="{{this.imagePost}}"></div>
                                <div class="post__item__text">
                                    <h5>{{user.name}}</h5>
                                    <p>{{this.point}} điểm</p>
                                    <p><i class="fa fa-calendar"> {{date}}</i></p>
                                    <h6><a href="/post/{{this.url}}">{{this.title}}</a></h6>
                                </div>
                            </div>
                        </div>
                        {{/each}}

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
